fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
psycopg2-binary
python-jose
passlib
python-multipart
alembic
pytest_asyncio
httpx
pydantic_ssm_settings
boto3
moto
bcrypt
requests
fastapi
mangum